@{
    ViewData["Title"] = "Statystyki admina";
}

<h1>Statystyki</h1>

<ul>
    <li>Wszystkich gier w katalogu: @ViewData["TotalGames"]</li>
    <li>Zaakceptowanych gier: @ViewData["ApprovedGames"]</li>
    <li>Liczba użytkowników: @ViewData["Users"]</li>
</ul>
